<h1><%= @student.name %></h1>

<br>

<ul>
	<li><%= @student.email_ad %></li>
	<li><%= @student.high_school %></li>
	<li><%= @student.contact_number %></li>
</ul>

<hr>
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>


<%- the preview of the assessment form will be showed here -%>