<h1 style="font-family: Helvetica Neue, Helvetica, Arial; text-align: center; background-color: #0374b5; margin: 0px; padding: 0px; color: #ffffff;border-style: solid; border-width: 1px; border-color: #0374b5;"><b>LIST OF CLASSES OFFERED</b></h1>

<h2 style="font-family: Helvetica Neue, Helvetica, Arial;  text-align: center; background-color: #4f4f4f; margin: 0px; padding: 0px; color: #ffffff;">Shortcuts</h2>
    <ul>
         <li><h4><%= link_to "Add Classes", new_class_catalog_path %></h4></li>
         <li><h4><%= link_to "Students", students_path %></li></h4>
         <li><h4><%= link_to "Packages", packages_path %></li></h4>
        <li><h4><%= link_to "Dashboard", root_path %></li></h4>
    </ul>

<table width="150%", align="left">
        <tr>
            <th>Venue Address</th>
            <th>Max Slots</th>
            <th>Slots Taken</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Subject List</th>
            <th>Actions</th>
        </tr>
        
            <% @class_catalogs.each do |a| %>
        <tr>
                <td><%= a.venue_address %></td>
                <td><%= a.max_slots %></td>
                <td><%= a.slots_taken %></td>
                <td><%= a.time_start %></td>
                <td><%= a.time_end %></td>
                <td><%= a.date_start %></td>
                <td><%= a.date_end %></td>
                <td><%= a.subject_list %></td>
                <td>
                     <button class="btn btn-success"><%= link_to "Show", class_catalog_path(a.id) %>
                     <button class="btn btn-warning"><%= link_to "Edit", edit_class_catalog_path(a.id)%>
                     <button class="btn btn-danger"><%= link_to "Delete", class_catalog_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
        </tr>
       
            <% end %>
        
</table>