<h1><%= @class_catalog.venue_address %></h1>
<br>
<ul>
	<li>Max Slots: <%= @class_catalog.max_slots %></li> 
	<li>Date Start: <%= @class_catalog.date_start %></li>
	<li>Date End: <%= @class_catalog.date_end %></li>
	<li>Time Start: <%= @class_catalog.time_start %></li>
	<li>Time End: <%= @class_catalog.time_end %></li>
</ul>

<p><strong>List of Students</strong></p>
<ol>
	<% @class_catalog.students.each do |c| %>
		<li><%= c.name %></li>
	<% end %>
</ol>
<hr>
<%= link_to "Back to List", class_catalogs_path %>
