<h1 style="font-family: Helvetica Neue, Helvetica, Arial; text-align: center; background-color: #0374b5; margin: 0px; padding: 0px; color: #ffffff;border-style: solid; border-width: 1px; border-color: #0374b5;"><b><h1>LIST OF STUDENTS </h1></b>

<h2 style="font-family: Helvetica Neue, Helvetica, Arial;  text-align: center; background-color: #4f4f4f; margin: 0px; padding: 0px; color: #ffffff;">Shortcuts</h2>
    <ul>
        <li><%= link_to "New Assessment", new_student_path%></li>
        <li><%= link_to "Classes", class_catalogs_path %></li>
        <li><%= link_to "Packages", packages_path %></li>
        <li><%= link_to "Dashboard", root_path %></li>
    </ul>

<table width="100%", align="left">
    <% @students.each do |a| %>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr>
            <td><%= a.name %></td>
            <td>
                <%= link_to "Show", student_path(a.id) %>
                <%= link_to "Edit", edit_student_path(a.id) %>
                <%= link_to "Delete", student_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Add Payment', new_student_payment_path(:id) %>
            </td>
        
    </tr>
    <% end %>
</table>