<h4><center>MentorsPlus</center></h4>
<h4><center>Katipunan</center></h4>
<h4><center>Assessment Form</center></h4>
<h4><center>Assessed On: <%= @student.assessment.created_at %></center></h4>

<br><br>

	<table width="100%", align="left">
				<tr>
					<th>ID No.</th>
					<th>Student's Name</th>
					<th>Class Code</th>
					<th>Package</th>
					<th>High School</th>
				</tr>
				<tr>
					<th><%= @student.id %></th>
					<th><%= @student.name %></th>
					<th><%= @student.assessment.class_catalog.id %></th>
					<th><%= @student.assessment.package.package_type %></th>
					<th><%= @student.high_school %></th>
				<tr>
				
	</table>



	<table width="100%", align="center">
            <tr>
              <th>Fees</th>
              <th>Payment</th>
            </tr>
			<tr>
				<th>MentorsPlus Fee - <%= @student.assessment.package.package_type %> Package </th>
				<th>
					(
					<%= @student.assessment.class_catalog.date_start %> - 
					<%= @student.assessment.class_catalog.date_end %>, 
					<%= @student.assessment.class_catalog.id %>,
					<%= @student.assessment.class_catalog.venue_address %>, 
					<%= @student.assessment.class_catalog.time_start%> -
					<%= @student.assessment.class_catalog.time_end %>
					)
				</th>
				<th><%= @student.assessment.package.initial_price %></th>
			</tr>
	</table>

	<table width="100%", align="center">	
			<tr>
				<th>Discount</th>
				<th>
					<%= @student.assessment.discount_rate %> as of <%= @student.assessment.created_at %>
				</th>
			</tr>
	</table>
	<hr>
	<table width="100%", align="center">
			<tr>
				<th><b>TOTAL</b></th>
				<th><%= @student.assessment.final_amount %></th>
			</tr>
	</table>
			
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
