<h1> List of Students </h1>

<h2>Shortcuts</h2>
    <ul>
        <li><%= link_to "New Assessment", new_admin_assessment_path%></li>
        <li><%= link_to "Classes", admin_class_catalogs_path %></li>
        <li><%= link_to "Packages", admin_packages_path %></li>
        <li><%= link_to "Dashboard", admin_path %></li>
    </ul>

<table width="100%", align="left">
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr>
        <% @students.each do |a| %>
            <td><%= a.student_id %></td>
            <td><%= a.name %></td>
            <td>
                <%= link_to "Show", admin_student_path(a.id) %>
                <%= link_to "Edit", edit_admin_student_path(a.id) %>
                <%= link_to "Delete", admin_student_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to 'Add Payment', new_admin_student_payments_path(@student) %>
            </td>
        <% end %>
    </tr>
</table>