<p id="notice"><%= notice %></p>

<h2 style="text-align: center;">Periods</h1>

<table>
  <thead>
    <tr>
      Period Start
    </tr>
    <tr>
      Period End
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <%= period.period_start %>
        <%= period.period_end %>
      </tr>
      <tr>
        <td><button class="btn btn-success"><%= link_to 'Show', period_path(period) %></td></button>
        <td><button class="btn btn-warning"><%= link_to 'Edit', edit_period_path(period) %></td></button>
        <td><button class="btn btn-danger"><%= link_to 'Destroy', period_path(period), method: :delete, data: { confirm: 'Are you sure?' } %></td></button>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period', new_period_path %>
