<h4 style="align:center">MentorsPlus</h4>
<h4 style="align:center">Katipunan</h4>
<h4 style="align:center">Assessment Form</h4>
<h4 style="align:center">Assessed On: <%= @assessment.created_at %></h4>

<hr>

	<table width="100%", align="left">
				<tr>
				<th>ID No.</th>
				<th>Student's Name</th>
				<th>Class Code</th>
				<th>Package</th>
				<th>High School/th>
				</tr>
				<tr>
					<th><%= @student.student_id %></th>
					<th><%= @student.name %></th>
					<th><%= @student.package.type %></th>
					<th><%= @student.high_school</th>
				<tr>
	</table>

	<table width="100%", align="center">
            <tr>
              <th>Fees</th>
              <th>Payment</th>
            </tr>
			<tr>
				<th>MentorsPlus Fee - <%= @student.package.type %> Package %></th>
				<th>
					(
					<%= @student.class_catalog.date_end %>, 
					<%= @student.class_catalog.date_start %> - 
					<%= @student.class_catalog.class_catalog_id %>,
					<%= @student.class_catalog.venue_address %>, 
					<%= @student.class_catalog.time_start%> -
					<%= @student.class_catalog.time_end %>
					)
				</th>
				<th><%= @student.class_catalog.initial_price %></th>
			</tr>
	</table>

	<table width="100%", align="center">	
			<tr>
				<th>Discount</th>
				<th>
					<%= @student.payment.discount_rate %> as of <%= assessment.create_on %>
				</th>
				<th>
					<!-- need to put operations here -->
				</th>
			</tr>
	</table>
	<hr>
	<table width="100%", align="center">
			<tr>
				<th><b>TOTAL</b></th>
				<th><%= @student.payment.final_amount %></th>
			</tr>
	</table>
			
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
