<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<table>
  <thead>
    <tr>
      <th>Assessment ID</th>
      <th>Amount Paid</th>
      <th>Paid on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.assessment_id %></td>
        <td><%= payment.amount_paid %></td>
        <td><%= payment.created_on %></td>
        <td><%= link_to 'Show', [payment.student, payment] %></td>
        <td><%= link_to 'Edit', edit_student_payment_path(payment.post, payment) %></td>
        <td><%= link_to 'Destroy', [payment.post, payment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_student_payment_path %>
