<p id="notice"><%= notice %></p>

<p>
  <strong>Number of installment:</strong>
  <%= @payment.number_of_installment %>
</p>

<p>
  <strong>Has paid:</strong>
  <%= @payment.has_paid %>
</p>

<p>
  <strong>Discount rate:</strong>
  <%= @payment.discount_rate %>
</p>

<p>
  <strong>Final amount:</strong>
  <%= @payment.final_amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
