<h1>List of Classes Offered</h1>

<h2>Shortcuts</h2>
    <ul>
        <li><%= link_to "Add Classes", new_admin_class_catalog_path %></li>
        <li><%= link_to "Students", admin_students_path %></li>
        <li><%= link_to "Packages", admin_packages_path %></li>
        <li><%= link_to "Dashboard", admin_path %></li>
    </ul>

<table width="150%", align="left">
        <tr>
            <th>Class ID</th>
            <th>Venue Address</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Date Inclusive</th>
            <th>Subject List</th>
            <th>Actions</th>
        </tr>
        <tr>
            <% @class_catalogs.each do |a| %>
                <td><%= a.class_id %></td>
                <td><%= a.venue_address %></td>
                <td><%= a.time_start %></td>
                <td><%= a.time_end %></td>
                <td><%= a.date_inclusive %></td>
                <td><%= a.subject_list %></td>
                <td>
                    <%= link_to "Show", admin_class_catalog_path(a.id) %>
                    <%= link_to "Edit", edit_admin_class_catalog_path(a.id) %>
                    <%= link_to "Delete", admin_class_catalog_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            <% end %>
        </tr>
       
</table>