<h1>List of Classes Offered</h1>

<h2>Shortcuts</h2>
    <ul>
        <li><%= link_to "Add Classes", new_admin_class_catalog_path %></li>
        <li><%= link_to "Students", admin_students_path %></li>
        <li><%= link_to "Packages", admin_packages_path %></li>
        <li><%= link_to "Dashboard", admin_path %></li>
    </ul>

<table width="150%", align="left">
        <tr>
<<<<<<< HEAD
           
=======
>>>>>>> f9904a66c78cdbe8c94c874f1e59abd98c06ae1e
            <th>Venue Address</th>
            <th>Max Slots</th>
            <th>Slots Taken</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Subject List</th>
            <th>Actions</th>
        </tr>
        
            <% @class_catalogs.each do |a| %>
<<<<<<< HEAD
                
=======
        <tr>
>>>>>>> f9904a66c78cdbe8c94c874f1e59abd98c06ae1e
                <td><%= a.venue_address %></td>
                <td><%= a.max_slots %></td>
                <td><%= a.slots_taken %></td>
                <td><%= a.time_start %></td>
                <td><%= a.time_end %></td>
                <td><%= a.date_start %></td>
                <td><%= a.date_end %></td>
                <td><%= a.subject_list %></td>
                <td>
                    <%= button_to "Show", admin_class_catalog_path(a.id), :method => "get" %>
                    <%= button_to "Edit", edit_admin_class_catalog_path(a.id), :method => "get" %>
                    <%= link_to "Delete", admin_class_catalog_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
        </tr>
       
            <% end %>
        
</table>