<p id="notice"><%= notice %></p>

<h1>Periods</h1>

<table>
  <thead>
    <tr>
      Period Start
    </tr>
    <tr>
      Period End
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <%= period.period_start %>
        <%= period.period_end %>
      </tr>
      <tr>
        <td><%= link_to 'Show', admin_period_path(period) %></td>
        <td><%= link_to 'Edit', edit_admin_period_path(period) %></td>
        <td><%= link_to 'Destroy', admin_period_path(period), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Period', new_admin_period_path %>
