<h1>Admin Dashboard</h1>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h2>Shortcuts</h2>
    <ul>
        <li><%= link_to "Classes", admin_class_catalogs_path %> - <%= link_to "Add Classes", new_admin_class_catalog_path%></li>
        <li><%= link_to "Packages", admin_packages_path %> - <%= link_to "Add Packages", new_admin_package_path%></li>
        <li><%= link_to "Students", admin_students_path %>- <%= link_to "New Assessment", new_admin_student_path%></li>
        <li><%= link_to "Periods", admin_periods_path %>- <%= link_to "New Period", new_admin_period_path %></li>
        <li><%= link_to "Start Page", root_path %>
    </ul>

<h3> List of Classes Offered </h3>
    
<br>
<table width="150%", align="left">
        <tr>
            <th>Venue Address</th>
            <th>Time Start</th>
            <th>Time End</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Subject List</th>
            <th>Actions</th>
        </tr>
        
            <% @class_catalogs.each do |a| %>
        <tr>
                <td><%= a.venue_address %></td>
                <td><%= a.time_start %></td>
                <td><%= a.time_end %></td>
                <td><%= a.date_start %></td>
                <td><%= a.date_end %></td>
                <td><%= a.subject_list %></td>
                <td>
                    <%= link_to "Show", admin_class_catalog_path(a.id) %>
                    <%= link_to "Edit", edit_admin_class_catalog_path(a.id) %>
                    <%= link_to "Delete", admin_class_catalog_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
        </tr>
            <% end %>
        
       
</table>

<br><br><br><br>

<h3> List of Packages Offered </h3>
    
<br>

    <table width="100%", align="left">
        <tr>
            <th>Name</th>
            <th>Package Type</th>
            <th>Initial Price</th>
            <th>Actions</th>
        </tr>
        
            <% @packages.each do |a| %>
        <tr>
                <td><%= a.package_type %></td>
                <td><%= a.name %></td>
                <td><%= a.initial_price %></td>
                <td>
                    <%= link_to "Show", admin_package_path(a.id) %>
                    <%= link_to "Edit", edit_admin_package_path(a.id) %>
                    <%= link_to "Delete", admin_package_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
        </tr>
            <% end %>
        
    </table>

<br>
<br>
<br>
<br>
    

<h3> List of Students </h3>
    
<br>

<table width="200%", align="left">
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <tr>
        <% @students.each do |a| %>
            <td><%= a.name %></td>
            <td>
                <%= link_to "Show", admin_student_path(a.id) %>
                <%= link_to "Edit", edit_admin_student_path(a.id) %>
                <%= link_to "Delete", admin_student_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to "Add Payment", new_admin_student_payment_path(a.id) %>
            </td>
        <% end %>
    </tr>
</table>

<br>
<br>