<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number_of_installment %>
    <%= f.input :has_paid %>
    <%= f.input :discount_rate %>
    <%= f.input :final_amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
