<p id="notice"><%= notice %></p>

<p>
  <strong>Assessment_ID</strong>
  <%= @payment.assessment_id %>
</p>

<p>
  <strong>Amount Paid</strong>
  <%= @payment.amount_paid %>
</p>

<p>
  <strong>Created At</strong>
  <%= @payment.created_at %>
</p>

<%= link_to 'Edit', edit_student_payment_path(@payment,student, @payment) %> |
<%= link_to 'Back', student_payments_path(@payment.student) %>
